/* 
FONTS:
font-family: 'Tulpen One', cursive;
font-family: 'Vibes', cursive;
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

/* Cancel out any padding/margins added by browsers 
and changes box model so borders and paddings no longer 
added to total width or height that I specify */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #000d1a;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5.2rem;
    font-weight: 600;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 1.69rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #000d1a;
  letter-spacing: 1.69rem; }
  .heading-secondary--sub {
    font-size: 3rem;
    font-weight: 400;
    color: #000d1a; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000d1a; }
  .heading-tertiary--sub {
    margin-left: 5rem;
    font-size: 1.3rem;
    font-weight: 600; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 400; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-class {
  text-align: center; }

.u-margin-bottom-large {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 2rem; }

.u-margin-bottom-small {
  margin-block: 1.5rem; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  font-size: 1.6rem; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn--black {
  background-color: #000d1a;
  color: #ffffff; }

.btn--white {
  background-color: #ffffff;
  color: #000d1a; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 55rem; }
  .card__side {
    height: 55rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg);
      background-color: #9fabb7; }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 28rem;
    background-blend-mode: screen; }
    .card__picture--1 {
      background-image: url(../../img/moodmap.png); }
    .card__picture--2 {
      background-image: url(../../img/siidlogo.png); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      font-family: "Megrim", cursive; }
  .card__details {
    padding: 2rem;
    color: #000d1a; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #9fabb7; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__description-box {
    text-align: center;
    color: #ffffff;
    margin-bottom: 8rem; }
  .card__description-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__description-value {
    font-size: 6rem;
    font-weight: 100; }
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%); }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__details {
        padding: 1rem 3rem; }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; }
      .card__description-box {
        margin-bottom: 3rem; }
      .card__description-value {
        font-size: 4rem; } }

.composition {
  position: relative; }
  .composition__photo {
    height: 30rem;
    position: absolute; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
  height: 340px; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #523b4d, #301934);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box__text {
    margin-bottom: 1rem; }
    .feature-box__text:not(:last-child) {
      margin-bottom: .5rem; }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }

.footer {
  background-image: linear-gradient(to right bottom, rgba(159, 171, 183, 0.99), rgba(82, 59, 77, 0.99));
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #F7F7F7; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo-box {
        margin-bottom: 6rem; } }
  .footer__logo {
    font-family: "Megrim", cursive;
    font-weight: 900;
    font-size: 5rem;
    color: #ffffff;
    padding: 0rem 0rem; }
  .footer__navigation {
    padding-top: 2rem;
    display: inline-block; }
    @media only screen and (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #F7F7F7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all 0.2s; }
  .footer__link:hover, .footer__link:active {
    color: #000d1a; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(247, 247, 247, 0.5), rgba(82, 59, 77, 0.7)), url(../img/Clouds.gif);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 0rem;
    left: 2rem;
    padding: 0rem 0rem; }
  .header__logo {
    font-family: "Megrim", cursive;
    font-weight: 900;
    font-size: 5rem;
    color: #000d1a;
    padding: 0rem 0rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #f0f0f5;
  padding-top: 15rem;
  padding-bottom: 20rem;
  margin-top: -5vh; }

.section-features {
  padding-top: 15rem;
  padding-bottom: 20rem;
  background-image: linear-gradient(to right bottom, rgba(159, 171, 183, 0.5), rgba(82, 59, 77, 0.8)), url(../img/calvin-and-hobbes-rock-hopping.jpg);
  background-size: cover;
  transform: skewY(-1.5deg);
  margin-top: -5vh; }
  .section-features > * {
    transform: skewY(1.5deg); }

.section-projects {
  background-color: #f0f0f5;
  padding-top: 20rem;
  padding-bottom: 10rem;
  margin-top: -10rem; }
  @media only screen and (max-width: 56.25em) {
    .section-projects {
      padding: 20rem 0 10rem 0; } }
