/* Cancel out any padding/margins added by browsers 
and changes box model so borders and paddings no longer 
added to total width or height that I specify */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
  box-sizing: border-box;
}