/* Cancel out any padding/margins added by browsers 
and changes box model so borders and paddings are no longer 
added to total width or height that we specify */
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  /* Default font size of browsers is 16px
  For ease of use in Sass we want the default to be 10px
  If we hard-coded 10px here, that would override the browser font size setting, 
  which some people change for for accessibility. Instead we use a % so that
  People (for accessibility) can still increase sizes and the fonts will increase with them. */
  // This defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
