body {
  font-family: $lato;
  font-weight: 400;
  line-height: 1.7;
  color: $color-dark-gray;
  padding: 3rem;
}

.heading-primary {
  color: $color-primary;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 2rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 1.25rem;

    animation: moveInRight 1s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-primary;
  letter-spacing: 1.69rem;

  &--sub {
    font-size: 3rem;
    font-weight: 400;
    color: $color-primary;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;

  &--sub {
    margin-left: 5rem;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 400;

  &:not(:last-child){
    margin-bottom: 3rem;
  }
}