.u-center-class {
    text-align: center;
}

.u-margin-bottom-large {
    margin-bottom: 8rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-small {
    margin-block: 1.5rem;
}

